<footer class="footer">
  <div class="container">
    <div class="icons">
      <a class="item" target="_blank" rel="noopener" aria-label="Adam's Twitter Profile" href="https://twitter.com/adamhstewart">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a class="item" target="_blank" rel="noopener" aria-label="Adam's Github Profile" href="https://github.com/adamhstewart">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <div class="copyright">
      Copyright&nbsp;<i class="far fa-copyright"></i>&nbsp;{{ "now" | date: "%Y" }}, Adam H. Stewart.
    </div>
  </div>
</footer>
