<header class="container">
  <div class="site-title">
    Adam H. Stewart
  </div>
  <div class="site-menu">
    <a class="menu-item" href="{{ site.url }}/">
      Home
    </a>
    <a class="menu-item {% if page.url contains 'writing' %}active{% endif %}" href="{{ site.url }}/writing">
      Writing
    </a>
    <a class="menu-item {% if page.url contains 'experience' %}active{% endif %}" href="{{ site.url }}/experience">
      Experience
    </a>
    <a class="menu-item {% if page.url contains 'contact' %}active{% endif %}" href="{{ site.url }}/contact">
      Contact
    </a>
  </div>
</header>
