
@import "variables";
@import "normalize/import-now";

body {
  padding-top: 20px;
  font-family: 'Rokkitt', serif;
  background-color: #f3f3f3;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  border-bottom: 1px solid #303030;
  i {
    margin-right: 0.25em;
  }
}

h3 {
  margin-bottom: 0.5em;
}

a {
  color: $dark-red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
}

.post-container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
}

.footer {
  margin-top: 6em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid $black;

  .container {
    display: flex;
    justify-content: space-between;

    .icons a {
      color: $black;

      &:hover {
        text-decoration: none;
        color: $dark-red;
      }
    }
  }
}
.site-title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.site-menu {
  padding-top: 0.25em;
  border-top: 3px solid black;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  a.menu-item {
    margin-right: 2em;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #f3f3f3;

    &:hover {
      border-bottom: 3px solid black;
      transition: all .5s ease;
    }

    &.active {
      color: $dark-red;
    }
  }
}

td {
  border-top: 1px solid $dark-red;
  padding-top: .8em;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-weight: 700;
    text-align: left;

  }
}

img {
  max-width: 100%;
  height: auto;
}

.form-item {
  margin-top: 0.5em;
  margin-top: 0.5em;

  label {
    font-weight: bold;
  }

  &.block-label label {
    display: block;
  }

  &.inline-label label {
    display: inline
  }

  input.button {
    background-color: white;
    border: 2px black solid;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
      transition: all .5s ease;
    }
  }

  textarea {
    max-width: 100%
  }
}
 .posts {
   h3 {
     margin-bottom: 0;

     a {
       color: black;
     }
   }
 }

.home-grid {
  margin-top: 6em;
  margin-bottom: 6em;
  display: grid;
  grid-row-gap: 4em;

  @media all and (min-width: $medium-screen) {
    grid-template-columns: repeat(3,1fr);
  }

  .welcome {
    line-height: 1.2;
    font-size: 22px;

    @media all and (min-width: $medium-screen) {
      grid-column: 2 / span 2;
      font-size: 3.1177vw;
    }

    @media all and (min-width: $large-screen) {
      font-size: 42px;
    }
  }

  .hello {
    @media all and (min-width: $medium-screen) {
      grid-column: 2 / span 2;
      font-size: 2.5vw;
    }
  }
}
